ul {
    list-style-type: none;
}

.forecast-card li {
    font-size: small;
  }

  /* this class sets the cursor to change to a pointer when hovering over list elements containing previously searched cities. */
.list-group-item:hover {
    cursor: pointer;
}